nav {
    background-color: rgb(4, 48, 90)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: rgb(197, 12, 12)
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}